<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport" />
    <base href="/" />

    @* ReSharper disable Html.PathError *@
    <link href="app.css"
          rel="stylesheet" />
    @* ReSharper restore Html.PathError *@

    <link href="css/fontawesome.css"
          rel="stylesheet" />
    <link href="css/solid.css"
          rel="stylesheet" />

    @* ReSharper disable Html.PathError *@
    <link href="WebApp.styles.css"
          rel="stylesheet" />
    @* ReSharper restore Html.PathError *@

    <link href="favicon.png"
          rel="icon"
          type="image/png" />
    <HeadOutlet />
</head>

<body>
<Routes />


@* ReSharper disable Html.PathError *@
<script src="_framework/blazor.web.js"></script>
@* ReSharper restore Html.PathError *@

<script src="app.js"></script>
</body>

</html>