<div class="relative">
    <input class="block border-slate-200 focus:border-blue-600 h-14 pb-2.5 peer/length pt-5 px-2.5 rounded-md shrink-0 text-gray-900 text-sm w-24"
           id="mailbox-alias-length"
           max="32"
           min="8"
           placeholder=" "
           type="number"
           value="16" />
    <label class="absolute peer-placeholder-shown/length:scale-100 scale-75 start-2.5 text-gray-500 text-sm top-4 z-10
                       -translate-y-4 duration-300 origin-[0] peer-focus/length:-translate-y-4 peer-focus/length:scale-75 peer-focus/length:text-blue-600 peer-placeholder-shown/length:translate-y-0 transform"
           for="mailbox-alias-length">
        Alias length
    </label>
</div>

@code {

}