<div class="relative">
    <input class="block border-slate-200 pb-2.5 peer/mailbox pt-5 px-2.5 rounded-md text-gray-900 text-sm focus:border-blue-600 w-80 h-14"
           id="mailbox"
           placeholder=" "
           type="text" />
    <label class="absolute peer-placeholder-shown/mailbox:scale-100 scale-75 start-2.5 text-gray-500 text-sm top-4 z-10
                      -translate-y-4 duration-300 origin-[0] peer-focus/mailbox:-translate-y-4 peer-focus/mailbox:scale-75 peer-focus/mailbox:text-blue-600 peer-placeholder-shown/mailbox:translate-y-0 transform"
           for="mailbox">
        Mailbox alias
    </label>
</div>

@code {

}