@page "/"

<PageTitle>AWS Workmail aliases</PageTitle>

<div class="container mx-auto px-4">
    <h1 class="font-medium mb-8 mt-4 text-3xl">
        ikon@vadviktor.xyz has {{ 000 }} aliases
    </h1>

    <div class="bg-lime-200 border border-lime-400 border-solid mb-5 p-4 rounded-md text-lime-800">
        A simple success alert—check it out!
    </div>

    <div class="bg-rose-200 border border-rose-400 border-solid mb-5 p-4 rounded-md text-rose-800">
        A simple error alert—check it out!
    </div>

    <form action="#">
        <div class="flex flex-row flex-wrap gap-2">
            <select class="border border-slate-200 border-solid h-14 rounded-md text-gray-500"
                    required>
                <option selected
                        value="">
                    -- Select a domain --
                </option>

                <option value="{{ domain }}">{{ domain }}</option>
            </select>

            <MailboxAliasName />

            <MailboxAliasLength />

            <button class="align-middle border border-slate-500 focus:outline focus:outline-4 focus:outline-slate-300 group h-14 hover:bg-slate-500 hover:text-white px-4 rounded-lg text-slate-500"
                    type="button">
                <svg class="fill-slate-500 group-hover:fill-white h-8 inline w-8"
                     viewBox="0 0 512 512"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M403.8 34.4c12-5 25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160H352c-10.1 0-19.6 4.7-25.6 12.8L284 229.3 244 176l31.2-41.6C293.3 110.2 321.8 96 352 96h32V64c0-12.9 7.8-24.6 19.8-29.6zM164 282.7L204 336l-31.2 41.6C154.7 401.8 126.2 416 96 416H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c10.1 0 19.6-4.7 25.6-12.8L164 282.7zm274.6 188c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V416H352c-30.2 0-58.7-14.2-76.8-38.4L121.6 172.8c-6-8.1-15.5-12.8-25.6-12.8H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H96c30.2 0 58.7 14.2 76.8 38.4L326.4 339.2c6 8.1 15.5 12.8 25.6 12.8h32V320c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l64 64c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-64 64z" />
                </svg>
                Randomize
            </button>
        </div>

        <button class="align-middle bg-sky-500 block border border-sky-500 h-14 hover:bg-sky-600 hover:border-sky-600 mt-5 mx-auto px-4 rounded-lg text-white">
            <svg class="fill-white h-8 inline w-8"
                 viewBox="0 0 640 512"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M320 368c0 59.5 29.5 112.1 74.8 144L64 512c-35.3 0-64-28.7-64-64V224c0-35.3 28.7-64 64-64l384 0c23.8 0 44.5 12.9 55.5 32.2c-2.5-.1-5-.2-7.5-.2c-97.2 0-176 78.8-176 176zM440 80c13.3 0 24 10.7 24 24s-10.7 24-24 24L72 128c-13.3 0-24-10.7-24-24s10.7-24 24-24l368 0zM392 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L120 48c-13.3 0-24-10.7-24-24s10.7-24 24-24H392zM496 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm16 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v48H432c-8.8 0-16 7.2-16 16s7.2 16 16 16h48v48c0 8.8 7.2 16 16 16s16-7.2 16-16V384h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H512V304z" />
            </svg>
            Create
        </button>

    </form>

</div>